.header {
    background-image: url('img/header.jpg');
    background-size: cover;
    height: 450px;
    width: auto;
}

.h1_h {
    font-size: 45px;
    color: rgb(63, 67, 69);
    padding-left: 5%;
}